{% extends 'layout.html' %}

{% block content %}
<div class='container container-fluid'>
  <form method='POST' class="form-signin">
	{% csrf_token %}

    {% for category in categorys %}
    	<p>{{ category }}</p>
    {% endfor %}

    {% if edit %}
        <h2 class="form-signin-heading">Category you whant EDIT</h2>    

        <label for="oldName" class="sr-only">oldName</label>
        <input id="oldName" name="oldName" placeholder="category to change" required="" type='text'/><br>

        <label for="newName" class="sr-only">newName</label>
        <input id="newName" name="newName" placeholder="new name for category" required="" type='text'/><br>

        <button type="submit" class="btn btn-lg btn-default btn-block">Go</button>

    {% else %}
        <h2 class="form-signin-heading">Category you whant delete</h2>
        <label for="inputName" class="sr-only">Name</label>
        <input id="inputName" name="name" placeholder="category whant delete" required="" type='text'/><br>

        <button type="submit" class="btn btn-lg btn-default btn-block">Go</button>
    {% endif %}


  </form>
</div>
{% endblock %}
