{% extends 'layout.html' %}

{% block content %}

<h2>Categorías:</h2>
<ul>
{% for category in categories %}
  <li>
    {% if category.name != 'Goals' %}
    <form method='POST' action='{% url 'category_delete' category.id %}'>
	{% csrf_token %}
      <button type='submit' name='delete' value=True class='glyphicon glyphicon-remove'></button>
    </form>
    {% endif %}

    <a href='{% url 'task' category.id %}'>{{ category.name }}</a>
  </li>
{% endfor %}
</ul>

<div class='container container-fluid'>
  <form method='POST' class="form-signin" action='{% url 'category_create' %}'>
	{% csrf_token %}
    <h2 class="form-signin-heading">Categoría nueva</h2>
	  <label for="inputName" class="sr-only">Name</label>
	  <input id="inputName" name="name" placeholder="Ej.: Compras" required type='text'/><br>
            
      <button type="submit" class="btn btn-lg btn-default btn-block">Agregar</button>
  </form>
</div>

{% endblock %}
