{% extends 'layout.html' %}

{% block content %}

<h3>Categoría: {{ category.name }}</h2>
<h3>Tarea: {{ task.name }}</h3>
<h4>Archivos adjuntos:</h4>

<ul>
{% for file in files %}
  <li>


   <!-- button delete --> 
    <form style="display: inline;" method='POST' action='{% url 'file_delete' category.id task.id file.id %}'>
  {% csrf_token %}
      <button type='submit' name='delete' value=True class='glyphicon glyphicon-remove'></button>
    </form>

   <!-- button dowload --> 
    <form style="display: inline;" method='POST' action='{% url 'file_dowload' category.id task.id file.id %}'>
  {% csrf_token %}
      <button type='submit' name='dowload' value=True class='glyphicon glyphicon-circle-arrow-down'></button>
    </form>


   <!-- name -->  
    <a href="{{ file.url }}">{{ file.name }}</a>
    <small>(Uploaded at: {{ file.uploaded_at }})</small>


  </li>
{% endfor %}
</ul>

<div class='container container-fluid'>
  <form method='POST' class="form-signin" action='{% url 'file_add' category.id task.id %}'>
  {% csrf_token %}
    <h2 class="form-signin-heading">Agregar archivo adjunto</h2>
    Nombre: <input name="name" placeholder="" required type='text'/><br>
    Archivo: <input name="file" placeholder="" type='file'/><br>
      <button type="submit" class="btn btn-lg btn-default btn-block">Add</button>
  </form>
</div>

{% endblock %}
