{% extends 'layout.html' %}

{% block content %}

<h3>Categoría: {{ category.name }}</h2>
<h3>Tarea: {{ task.name }}</h3>
<h4>Archivos adjuntos:</h4>

<ul>
{% for file in files %}
  <li>


   <!-- button delete -->
    <form style="display: inline;" method='POST' action='{% url 'file_delete' category.id task.id file.id %}'>
  {% csrf_token %}
      <button type='submit' name='delete' value=True class='glyphicon glyphicon-remove'></button>
    </form>

   <!-- button dowload -->
    <form style="display: inline;" method='POST' action='{% url 'file_dowload' category.id task.id file.id %}'>
  {% csrf_token %}
      <button type='submit' name='dowload' value=True class='glyphicon glyphicon-circle-arrow-down'></button>
    </form>


   <!-- name -->
    <a href="{{ file.url }}">{{ file.name }}</a>
    <small>(Uploaded at: {{ file.uploaded_at }})</small>


  </li>
{% endfor %}
</ul>


<form method="POST" enctype="multipart/form-data" action='{% url 'file_add' category.id task.id %}'>
    {% csrf_token %}
  Descripcion: <input type="name" name="name"><br>
  Archivo:    <input type="file" name="file"><br>
  <input type="submit" value="Submit">
</form>


{% endblock %}
