{% extends 'layout.html' %}

{% block content %}
<h1>Progreso Mensual:</h1>

{% if created_tasks %}
<h3>Creadas:</h3>
<table>
  <tr>
    <th>Meta</th>
    <th>Fecha de Creacion</th>
  </tr>
  <hr>
  {% for task in created_tasks %}
  <tr>
    <td><a href="{% url 'task' task.category_id %}">{{ task.name }}</a></td>
    <td><p>{{ task.created_at }}</p></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if completed_tasks %}
<h3>Completas:</h3>
<table>
  <tr>
    <th>Meta</th>
    <th>Fecha de Creacion</th>
  </tr>
  <hr>
  {% for task in completed_tasks %}
  <tr>
    <td><a href="{% url 'task' task.category_id %}">{{ task.name }}</a></td>
    <td><p>{{ task.created_at }}</p></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if failed_tasks %}
<h3>Fallidas:</h3>
<table>
  <tr>
    <th>Meta</th>
    <th>Fecha de Creacion</th>
  </tr>
  <hr>
  {% for task in failed_tasks %}
  <tr>
    <td><a href="{% url 'task' task.category_id %}">{{ task.name }}</a></td>
    <td><p>{{ task.created_at }}</p></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
