{% extends 'layout.html' %}

{% block content %}
<div class='container container-fluid'>
  <form method='POST' class="form-signin">
	{% csrf_token %}
    <h2 class="form-signin-heading">Add Category</h2>

	  <label for="inputName" class="sr-only">Name</label>
	  <input id="inputName" name="name" placeholder="name of new sub task" required="" type='text'/><br>

    <label for="inputName" class="sr-only">Name</label>
    <input id="inputName" name="task" placeholder="task of new sub task" required="" type='text'/><br>

    <label for="inputName" class="sr-only">Name</label>
    <input id="inputName" name="name" placeholder="name of new sub task" required="" type='text'/><br>

    <label for="inputName" class="sr-only">Name</label>
    <input id="inputName" name="name" placeholder="name of new sub task" required="" type='text'/><br>

    <button type="submit" class="btn btn-lg btn-default btn-block">Create</button>

  </form>
</div>
{% endblock %}
