{% extends 'layout.html' %}


{% block content %}

<h2>Categoría: {{ category.name }}</h2>
<h3>Tarea: {{ task.name }}</h3>
<h4>Descripcion: {{task.description}}<h4><br>
<h4>Sub Tareas:</h4>
<ul>
{% for subtask in subtasks %}
  <li>

	<form style="display: inline;" method='POST' action='{% url 'subtask_delete' category.id task.id subtask.id %}'>
	{% csrf_token %}
      <button type='submit' name='delete' value=True class='glyphicon glyphicon-remove'></button>
  </form>

	 <!-- button edit -->	
    <form style="display: inline;" method='GET' action='{% url 'subtask_edit' category.id task.id subtask.id %}'>
	{% csrf_token %}
      <button type='submit' name='edit' value=True class='glyphicon glyphicon-edit'></button>
    </form>

    {% if subtask.complete %}
    <form style="display: inline;" method='POST' action='{% url 'subtask_edit' category.id task.id subtask.id %}'>
	  {% csrf_token %}
      <button type='submit' name='complete' value='' class='glyphicon glyphicon-unchecked'></button>
    </form>
    {% else %}
    <form style="display: inline;" method='POST' action='{% url 'subtask_edit' category.id task.id subtask.id %}'>
	  {% csrf_token %}
      <button type='submit' name='complete' value=True class='glyphicon glyphicon-check'></button>
    </form>
    {% endif %}

    <a href=''>{{ subtask.name }}</a>
  </li>
{% endfor %}
</ul>

<div class='container container-fluid'>
  <form method='POST' class="form-signin" action='{% url 'subtask_create' category.id task.id %}'>
	{% csrf_token %}
    <h2 class="form-signin-heading">Sub Tarea nueva</h2>
	  Nombre: <input name="name" placeholder="Comprar verduras" required type='text'/><br>
	  Descripción: <input name="description" placeholder="Ir al super" type='text'/><br>
	  Fecha de vencimiento: <input name="deadline" placeholder="2018-12-23 17:09:45" type='datetime-local'/><br>
	  Notificarme: <input name="notify_user" type='checkbox'/><br>
      <button type="submit" class="btn btn-lg btn-default btn-block">Agregar</button>
  </form>

  <form method='POST' action='{% url 'comment_create' category.id task.id %}'>
  {% csrf_token %}
  <input name="text" placeholder="Crear comentario" required type='text'/><br>
      <button type="submit" class="btn btn-lg btn-default btn-block">Agregar</button>
  </form>

<ul>

{% for comment in comments %}
  <li>

    <p style="display: inline;"> {{ comment.text }} </p>
    <form style="display: inline;" method='GET' action='{% url 'comment_edit' category.id task.id comment.id %}'>
      {% csrf_token %}
      <button type='submit' name='edit' value=True class='glyphicon glyphicon-edit'></button>
    </form>

    <form style="display: inline;" method='POST' action='{% url 'comment_delete' category.id task.id comment.id %}'>
      {% csrf_token %}
      <button type='submit' name='delete' class='glyphicon glyphicon-remove'></button>
    </form>


  </li>
{% endfor %}
</ul>
</div>

{% endblock %}