{% extends 'layout.html' %}

{% block content %}

<h2>{{ title }}</h2>

<div class='container container-fluid'>
  <form method='POST' class="form-signin" action='{% url 'subtask_edit' category.id task.id subtask.id %}'>
	{% csrf_token %}
	  <p>name = {{ subtask.name }} </p>
	  Nombre: <input name="new_name" placeholder="{{ subtask.name }}" type='text'/><br>
	  <p>description = {{ subtask.description }} </p>
	  Editar descripción: <input name="new_description" placeholder="{{ subtask.description }}" type='text'/><br>
	  Editar fecha de vencimiento: <input name="new_deadline" placeholder="{{ subtask.deadline }}" type='datetime-local'/><br>
	  Editar notificarme: <input name="new_notify_user" placeholder="{{subtask.notify_user}}" type='checkbox'/><br>
            
      <button type="submit" class="btn btn-lg btn-default btn-block">Editar</button>
  </form>
</div>

{% endblock %}
