{% extends 'layout.html' %}

{% block content %}
<div class='container container-fluid'>
  <h2>{{ user.first_name }}</h2>
  <h4>Usted esta junto con nosotros desde: {{ user.date_joined}}</h4>
  <h3>Informacion del Perfil<h3>
  <h4 style="font-family:verdana;"> Nombre de Usuario: {{user.username}}</h4>
  <h4 style="font-family:verdana;">Email: {{user.email}}</h4>
  <h4 style="font-family:verdana;">Nombre: {{user.first_name}}</h4>
  <h4 style="font-family:verdana;">Apellido: {{user.last_name}}</h4> 

  <!-- button edit -->  
  <form style="display: inline;" method='GET' action='{% url 'user_edit'%}'>
  <h4>Editar informacion del usuario

    {% csrf_token %}
    <button type='submit' name='edit' value=True class='glyphicon glyphicon-edit'></button>
  </h4>
  </form>    

</div>
{% endblock %}
